*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --ff-body:  'Palanquin', sans-serif;
    --ff-header: 'Staatliches', cursive;
    font-size: 62.5%;
}

body{
    font-family: var(--ff-body);
    font-size: 2.0rem;
}

.page{
    max-width: 38.4rem;
}

header div{
    font-family: var(--ff-header);
    color: white;
    background-color: #8E9AAF;
    height:27.9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header p{
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 15px;
    margin-top: 14px;
    margin-bottom: 6.3rem;
}

header h1{
    height: 4.9rem;
    width:38.4rem;
    background-color: #CBC0D3;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card {
    position:relative;
}
.card h2{
    position: absolute;
    letter-spacing: 0.05em;
    font-family: var(--ff-header);
    color: #4A4E69;
    font-size: 2.0rem;
    width: 11.2rem;
    height: 3.5rem;
    border-radius: 20px;
    background: #FEEAFA;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    left: 19.2rem;
    top: 1.6rem;
    animation: topdown 700ms 350ms forwards;
    opacity:0;
}

div + div{
    margin-top: 3.2rem;
}

.card img {
    animation: downtop 700ms 350ms;
}

@keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes topdown {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #picoleS {
      display:none;
  }

  #paletaS{
      display:none;
  }

  @media (min-width: 700px){
    .page {
        display: flex;
        gap: 9.8rem;
        max-width: 128.7rem;
        height: auto;
        margin: 0 auto;
        padding: 0;
    
        font-size: 2.4rem;
    
        background-color: #ffffff;
      }
    
      header{
          max-width: 37.7rem;
          height: 72.0rem;
          background-color: #8E9AAF;
          
      }

      main{
          display: flex;
          flex-direction: row;
          gap:3.2rem;
          align-items: center;
          justify-content: center;
      }

     .card h2{
         display:none;
     }

      img{
          width:22.0rem;
      }
     #picoleS {
        display:flex;
    }
  
    #paletaS{
        display:flex;
    }
    
  }